
body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    color: #fff;
    
  
  }
  header {
    background-image: url('https://i.blogs.es/56d0cd/diseno-sin-titulo-4-/1366_2000.jpeg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Establecer posición relativa para que los elementos posicionados dentro de él se ubiquen con respecto a él */
  }
  
  header img{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 50px;
    border-radius: 50%; 
    object-fit: cover;
    overflow: hidden;
  }
  
  nav {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  p {
  margin-bottom: 100PX;
  text-align: center;
  }
  
  h1{
    text-align: center;
  }

  h2{
text-align: center;
margin-top: 30px;
margin-bottom: 30px;
  }

  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    margin-bottom: 0px;
  }
  
  footer img {
    width: 25px;
    height: auto;
    margin: 0 5px;
  }
  

.card {
    background-color: #fff;
    border-radius: 12px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin:auto;
    overflow: hidden;
    max-width: 200px; 
    margin-bottom: 100px;
    flex-direction: row;
    display: flex; 
    flex-wrap: wrap; 
    justify-content:center;
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.card-content {
    padding: 5px;
}

.card-content h3 {
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 1.2em;
    color: #333;
    text-align:center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-content p {
    margin-top: 0;
    color: #666;
    font-size: 0.9em; 
}

.btn-purple {
  color: #fff;
  background-color: #800080; /* Color morado */
  border-color: #800080; /* Color del borde morado */
}

.btn-purple:hover {
  background-color: #9932CC; /* Color morado más claro al pasar el mouse */
  border-color: #9932CC;
}

#comment {
  margin-bottom: 100px;
  background-color: #666;
  width: 300px;
  text-align: center;
  justify-content: center;
  border-radius: 12px;
}