
body {
  background-color: #000000;
  font-family: Arial, sans-serif;
  color: #fff;

}
header {
  background-image: url('https://fotografias.antena3.com/clipping/cmsimages02/2018/03/21/4EA3FD98-6FC4-47AF-90A9-82B21E581802/98.jpg?crop=1920,1080,x0,y0&width=1900&height=1069&optimize=high&format=webply');
  background-size: cover;
  background-position: center;
  height: 80vh;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; /* Establecer posición relativa para que los elementos posicionados dentro de él se ubiquen con respecto a él */
}

header img{
  position: absolute;
  top: 10px;
  right: 10px;
  height: 50px;
  border-radius: 50%; 
  object-fit: cover;
  overflow: hidden;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

p {
margin-bottom: 100PX;
}

h1{
  text-align: center;
}

h2{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  margin-bottom: 0px;
}

footer img {
  width: 25px;
  height: auto;
  margin: 0 5px;
}

